/* custom-flickity.css */

/* Remove border-radius to make the buttons square */
.flickity-prev-next-button.previous {
    left: 0px;
    border-radius: 0; /* Set border-radius to 0 */
    width: 35px;
    height: 35px;
  }
  
  .flickity-prev-next-button.next {
    right: 0px;
    border-radius: 0; /* Set border-radius to 0 */
    width: 35px;
    height: 35px;
  }

  .flickity-viewport{
    padding-left: 0px;
  }

  /* draggable */

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: auto; /* Use 'auto' to set the default arrow cursor */
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: auto; /* Use 'auto' to set the default arrow cursor */
}

  
  