@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Bitter:wght@200;500&family=Jost:ital,wght@0,300;1,100;1,200&family=Noto+Serif:wght@100;200;300&family=Red+Hat+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .antic{
        font-family: 'Antic Slab', serif;
    }

    .bitter{
        font-family: 'Bitter', serif;
    }
       
    .jost{
        font-family: 'Jost', sans-serif;
    }
    
    .noto{
        font-family: 'Noto Serif', serif;
    }

    .red{
        font-family: 'Red Hat Display', sans-serif;
    }
        
    .card-style{
      @apply bg-white  m-10;
    }    
        
        
      
    .mycustom {
        @apply h-10
    }

    .navhead{
        @apply w-full h-12  absolute top-20 z-40 bg-transparent; 
    }

    .suspect{
        @apply w-full z-30 h-20 absolute bg-transparent ;
    }

    .suspect2{
        @apply w-full h-screen bg-slate-400 relative z-10 top-0;
    }
    .sticking{
        @apply w-full z-40 h-12 top-0 fixed
    }
    
    .sticking2{
        @apply bg-slate-900 w-full z-40 h-12 top-0 fixed
    }

    .opac{
      @apply absolute bg-opacity-5 group-hover:bg-opacity-10 z-20 bg-gray-200
    }

    .small-box{
      @apply w-28 h-28 sm:w-32 sm:h-32 md:w-36 md:h-36 lg:w-40 lg:h-40
    }

    .transit{
      @apply transition ease-in-out  group-hover:scale-110 duration-500 delay-100;
    }

    .blocked{
        @apply w-1/12 border 
    }

    .slide-in-top {
        animation: slide-in-top 1s ease-out;
      }

    .btn-slide{
      @apply bg-slate-900 rounded
    }

    .heading1{
      @apply font-bold text-3xl uppercase;
    }

     .hovering{
      @apply scale-125 transform transition ease-in duration-100 delay-100;
     } 

     .hovering2{
      @apply hover:scale-125 transform transition ease-in duration-100 delay-100;
     }

     

      
      @keyframes slide-in-top {
        from {
          transform: translateY(-100%);
        }
        to {
          transform: translateY(0);
        }
      }
      
      .slide-in-right {
        animation: slide-in-right .8s ease-out;
      }
      
      @keyframes slide-in-right {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
      }
      
      .slide-in-bottom {
        animation: slide-in-bottom .5s ease-out;
      }
      
      @keyframes slide-in-bottom {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0);
        }
      }
      

  }